
html,body,*
{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
    background-image: url(https://i.pinimg.com/originals/b1/80/69/b18069ceef9cc9858bf26335dc3908c1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}
.container
{
    width:90vw;
    margin:2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_image
{
    margin-right: auto;
    margin-left: auto;
    display:block;
    width:100%;
}

.card
{
    width:23%;
    box-shadow: 10px 10px 10px black;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border:10px black;
    margin-bottom:50px;
    border-radius: 75px;
    transition: all 0.5s;
}
.card_title
{
    text-align: center;
    margin:0 auto;
    padding: 10px;
    font-size: 30px;
    font-family: "Handjet", sans-serif;
    font-style: normal;
    font-weight:1000px;
}
.card:hover
{
    transform:translate(-10px,-10px);
}
h1
{
    margin-left: auto;
    align-items: center;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-wrap:wrap
    width:30%;
    font-size:150px;
    font-family: "Handjet", sans-serif;
    animation-name: header_test 5s;

}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Full viewport height */
}

#fire_type:hover
{
    transform:scale(0.5)
}
#plant_type:hover
{
    transform:scale(2.0)
}
#water_type:hover
{
    transform:scale(1.2523232325234335435453645464646456456464654646474768768)
}

@media(max-width:1200px)
{
    .card{
        width: 30%;
    }
}
@media(max-width:800px)
{
    .card
    {
        width:40%;
    }
}
@media(max-width:600px)
{
    .card
    {
        width:70%
    }

}
@keyframes header_test
{
    0% {transform:rotate(90deg)}
    25%{transform:rotate(180deg)}
    50%{transform:rotate(270deg)}
    75%{transform:rotate(360deg)}
    100%{transform:rotate(0deg)}

}
