
html,body,*
{
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body
{
    background-image: url(https://i.pinimg.com/originals/b1/80/69/b18069ceef9cc9858bf26335dc3908c1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;

}
.container
{
    width:90vw;
    margin:2rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.not
{   
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.card_image
{
    margin-right: auto;
    margin-left: auto;
    display:block;
}

.card
{
    height:33rem;
    width:30%;
    box-shadow: 10px 10px 10px black;
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
    max-height:30%;
    background-color: bisque;
    border:10px black;
    margin-bottom:50px;
    border-radius: 75px;
}
.card_title
{
    text-align: center;
    margin:0 auto;
    padding: 10px;
    font-size: 30px;
    font-family: "Handjet", sans-serif !important;
    font-style: normal;
    font-weight:1000px;
}

h1
{
    margin:0 auto;
    width:50%;
    text-align: center;
    padding-top:10px;
    font-size:150px;
    font-family: "Handjet", sans-serif !important;
    font-style: normal;
    font-weight:1000px;
}

.card
{
    transition: all 0.5s;
}
.card:hover
{
    transform:translate(-20px, -20px);
}